
.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.taskline {
  padding-left: 0px;
  list-style-type: none;
}

.header {
  text-align: center;
}

.tasktitle {
  padding-right: 5px;
}
